.country {
  fill: #eeeeee;
  stroke: #333333;
  stroke-width: 0.5;
}

.epidemic {
  fill: cyan;
  color: cyan;
}

.drought {
  fill: brown;
  color:brown;
}

.earthquake {
  fill: purple;
  color:purple;
}

circle {
  visibility: hidden;
}

circle.selected.current {
  visibility: visible;
}

#map {
  border:2px solid #000;
}

.timeslider{
    margin: 30px auto 0 300px;
    width: 50%;
    display: block;
     text-align: center;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.bluesea {
  background: #a1d6ff;
}

.nosea {
  background: white;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: darkgray;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}
