.country {
  fill: rgb(171, 221, 164);
  stroke: #333333;
  stroke-width: 0.5;
}

.epidemic {
  fill: rgb(155,155,155);
}

span.Epidemic {
  color: rgb(155,155,155);
}

.drought {
  fill: rgb(248,166,98);
}

span.Drought {
  fill: rgb(248,166,98);
}

.earthquake {
  fill: rgb(204,112,91);
}

span.Earthquake {
  color: rgb(204,112,91);
}

.flood {
  fill: rgb(93,156,210);
}

span.flood {
  color: rgb(93,156,210);
}

.storm {
  fill: rgb(157,105,169);
}

span.storm {
  color: rgb(157,105,169);
}

.landslide {
  fill: rgb(239,91,99);
}

span.landslide {
  color: rgb(239,91,99);
}

circle {
  visibility: hidden;
}

circle.selected.current {
  visibility: visible;
}

#map {
  border:0px solid #000;
}

.main-left{
  float: left;
}

.main-right{
  float: left;
}

.timeslider{
    margin: 30px auto 0 300px;
    width: 50%;
    display: block;
     text-align: center;
}

.bar.epidemic {
  fill: rgb(155,155,155);
}

.bar.epidemic:hover {
  fill: rgb(115,115,115);
}

.bar.drought {
  fill: rgb(248,166,98);
}

.bar.drought:hover {
  fill: rgb(208,126,58);
}

.bar.earthquake {
  fill: rgb(204,112,91);
}

.bar.earthquake:hover {
  fill: rgb(164,72,51);
}

.bar.flood {
  fill: rgb(93,156,210);
}

.bar.flood:hover {
  fill: rgb(53,116,170);
}

.bar.storm {
  fill: rgb(157,105,169);
}

.bar.storm:hover {
  fill: rgb(117,65,129);
}

.bar.landslide {
  fill: rgb(239,91,99);
}

.bar.landslide:hover {
  fill: rgb(199,51,59);
}

.bluesea {
  background: #a1d6ff;
}

.nosea {
  background: white;
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 13px verdana;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    pointer-events: none;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;

}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
    margin-right: 50px;

}

.dropdown-cntnt {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
