.country {
  fill: rgb(171, 221, 164);
  stroke: #333333;
  stroke-width: 0.5;
}

.epidemic {
  fill: blue;
}

.drought {
  fill: yellow;
}

.earthquake {
  fill: red;
}

circle {
  visibility: hidden;
}

circle.selected.current {
  visibility: visible;
}

#map {
  border:2px solid #000;
}

.main-left{
  float: left;
}

.main-right{
  float: right;
}


.timeslider{
    margin: 30px auto 0 300px;
    width: 50%;
    display: block;
     text-align: center;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.bluesea {
  background: #a1d6ff;
}

.nosea {
  background: white;
}

div.tooltip {
    position: absolute;
    text-align: left;
    height: 47px;
    padding: 2px;
    font: 13px verdana;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    pointer-events: none;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
    
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
    
}

.dropdown-cntnt {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}